# Python
__pycache__/
*.py[cod]
*.pyo

# ngrok & cloudflared binaries
ngrok.exe
cloudflared.exe
ngrok.zip

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Agents
.agents/
skills-lock.json

# Media
Frames/
Frames2/
